<!DOCTYPE html>
<head>
  <title>Socket chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link rel="icon" href="/images/chat_logo.png"/>
</head>

<body>

  <div class="container">
    <div class="row">
     <div class="text-center"  id="nickWrap">
        <h3>Pick your super awesome nickname</h3>
       <p id="nickError"></p>
       <div class="form-group">
       <form id="setNick" role="form">
         <input  type="text" autofocus required placeholder="Your nickname" id="nickname"/>
         <input class="btn btn-danger" type="submit" value="Submit"/>
       </form>
     </div>
    </div>
   </div>
 </div>


<div id="chatWindow">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-offset-1 panel panel-primary">
        <div class="panel-body">
          <div id="contentWrap">
            <div id="chatWrap" style=" border-radius: 10px; height: 500px; min-width :300px; overflow-y: auto;">
              <div id="chat"></div>
            </div>
          </div>
          <form id="message-box">
            <div class="form-group col-md-3">
              <textarea required autofocus style="border: 1px solid black;border-radius: 0.5em;" rows="2" cols="33"
                id="message" placeholder="Write your message here.."></textarea>
            </div>
            <div class="form-group col-md-offset-4 col-md-2 mt-2 ml-0">
              <button class="btn btn-danger message-btn">send</button>
            </div>
          </form>
        </div>

      </div>
      <br />
      <div class="col-md-4 col-sm-offset-1 panel panel-default">
        <div class="panel-heading">Currently Online</div>
        <div class="panel-body">
          <div id="users"></div>
        </div>
      </div>
      <!-- <h4></h4> -->
    </div>
  </div>
  <br />
<!-- <div class="row">
  <div class="col-md-2 col-md-offset-2">
    <form id="message-box">
      <div class="form-group">
       <textarea required autofocus style="border:double 4px black;border-radius: 0.5em;" rows="3" cols="60" id="message" placeholder="Write your message here.."></textarea>
      </div>
      <div class="form-group">
        <button class="btn message-btn">send</button>
      </div>
   </form>
 </div>
 </div> -->
</div>

   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script>
    $(function () {
        var socket = io.connect();
        var $messageForm = $('#message-box');
        var $messageBox = $('#message');
        var $chat = $('#chat');

        var chatOuter = $('#chatWrap');
        var chatInner = $('#chat');

        var $users = $('#users');
        var $nickForm = $('#setNick');
        var $nickError = $('#nickError');
        var $nickBox = $('#nickname');
        var title = 'anonymous';

       $('#message').keydown(function(event) {
          if (event.keyCode == 13) {
               $(this.form).submit()
              return false;
             }
       });


       $nickForm.submit(function (e) {
        e.preventDefault();
        title = $nickBox.val();
        socket.emit('new user', $nickBox.val(), function (data) {
          if (data) {
            $('#nickWrap').hide();
            document.title = title;
            $('#chatWindow').show();
          } else {
            $nickError.html("Sorry, that nickname is already taken , try something else");
          }
        });
        $nickBox.val('');
      });

       socket.on('usernames', function (data) {
        var html = '<ul>';
        console.log(socket.id);
        console.log(data);

        for (i = 0; i < data.length; i++) {
          // if(!socket.id){
          var ids = 'data' + i;
          // console.log(socket.id);
          html += '<li><span id = ' + ids + '>' + data[i] + '</span></li>';
          // var idclick = $('#ids');
          // $(idclick).on('click', '#nickname',function () {
          //   var username = $(this).text(),
          //     message = prompt("type your message");

          //   socket.emit('private_chat', {
          //     to: username,
          //     message: message
          //   });
          // });

        }
        html = html + '</ul>';
        $users.html(html);
      });



      $messageForm.submit(function (e) {
        e.preventDefault();
        socket.emit('send message', $messageBox.val(), function (data) {
          $chat.append("<p align='right' class='error'>" + data + "&nbsp;&nbsp;</p><br/>");
        });
        $messageBox.val('');
      });



      socket.on('new message', function (data) {
        if (data.nick === title) {
          $chat.append("<p style='color:grey;' align='right' class='msg'><b><i>" + data.nick + " : </i></b>" + data.msg + "&nbsp;&nbsp;</p>");
        } else {
          $chat.append("<p style='' align='left' class='msg'><b>&nbsp;&nbsp;&nbsp;<i>" + data.nick + " : </i></b>" + data.msg + "</p>");
        }
        scrollCorrect();
      });



      socket.on('whisper', function (data) {
        $chat.append("<p align='left' style = 'color: blue;' class='whisper'><b>&nbsp;&nbsp;&nbsp;" + data.nick + " : </b>" + data.msg + "</p><br/>");

      });

      socket.on('private', function (data) {
        $chat.append("<p align='right' class='whisper'><b>" + title + "@" + data.nick + ": </b>" + data.msg + "&nbsp;&nbsp;</p><br/>");

      });


      function scrollCorrect() {
        chatOuter.scrollTop(chatInner.outerHeight());
      }
    });

   </script>

</body>
</html>