html {
background-color:  #e0e4e0 !important;
  }
body {
padding-top: 10px;
font-size: 16px;
background: transparent;
}
ul li {
color: limegreen;
list-style-type: disc;
margin-left: 2em;
}

ul li span {
  color: black;
}

#chatWindow{
  display:none;
}

/* .whisper{
  color: #845422;
  font-style:italic;
  font-weight: bold;
} */

 .error{
   color:#800000;
 }
